body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
}

textarea {
    font-family: inherit;
}

:focus {
    outline:none; 
    border:1px solid #333;
    -webkit-box-shadow: 0px 0px 2px #333;
    box-shadow: 0px 0px 2px #333;
}