#menuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #menuList li {
    float: left;
  }

  #menuList #logOut {
    float: right;
  }
  
  #menuList li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #menuList li a:hover:not(.active) {
    background-color: #111;
  }
  
  #menuList .active {
    background-color: #4CAF50;
  }