html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0', charset="UTF-8")
        if title
            title #{title}
        style
            block css
                include ../../css/All.css
    body
        block menu
        block content